.container {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 24px;
    border: none;
    box-shadow: var(--shadow-sm);
}

.warning {
    background-color: #fff8e1;
    /* Very light amber */
    color: #ff9f43;
}

.critical {
    background-color: #ffebee;
    /* Very light red */
    color: #ff5252;
}

.icon {
    margin-right: 16px;
    flex-shrink: 0;
}

.title {
    margin: 0 0 4px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
}

.message {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    color: var(--text-primary);
    opacity: 0.8;
}